/* User 6 */

#u-6 {
  transform: scale(0);
  animation: u6 0.5s ease-out forwards;
}

@keyframes u6 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

#c-6 {
  stroke-dasharray: 284.00146484375;
  stroke-dashoffset: 284.00146484375;
  animation: c6 2s linear 1s forwards;
}

@keyframes c6 {
  0% {
    stroke-dashoffset: 284.00146484375;
  }

  40%,
  60% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -284.00146484375;
  }
}

#c-6-top {
  stroke-dasharray: 284.00146484375;
  stroke-dashoffset: 284.00146484375;
  animation: c6__top 2slinear 2s forwards;
}

@keyframes c6__top {
  0% {
    stroke-dashoffset: 284.00146484375;
  }

  40%,
  60% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -284.00146484375;
  }
}

#su-6 {
  transform: translateX(260px);
  animation: su6 2s linear 3.5s forwards;
}

@keyframes su6 {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  60% {
    transform: translateX(100px) rotate(30deg);
  }

  100% {
    transform: translateX(260px) rotate(60deg);
  }
}
