/* User 8 */

#u-8 {
  transform: scale(0);
  animation: u8 0.5s ease-out forwards;
}

@keyframes u8 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

#c-8 {
  stroke-dasharray: 369.7817687988281;
  stroke-dashoffset: 369.7817687988281;
  animation: c8 2s linear 1s forwards;
}

@keyframes c8 {
  0% {
    stroke-dashoffset: 369.7817687988281;
  }

  40%,
  60% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -369.7817687988281;
  }
}

#c-8-top {
  stroke-dasharray: 369.7817687988281;
  stroke-dashoffset: 369.7817687988281;
  animation: c8__top 2s linear 2s forwards;
}

@keyframes c8__top {
  0% {
    stroke-dashoffset: 369.7817687988281;
  }

  40%,
  60% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -369.7817687988281;
  }
}

#su-8 {
  transform: translateX(260px);
  animation: su8 2s linear 3.5s forwards;
}

@keyframes su8 {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  60% {
    transform: translateX(100px) rotate(30deg);
  }

  100% {
    transform: translateX(260px) rotate(60deg);
  }
}
